<table>
	<% var i; for(i=0; i<quizes.length; i++){ %>
<<<<<<< HEAD
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button>edit</button></a></td>
			<td>
				<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">borrar</button>
			</td>
		</tr>
=======
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
		<tr><td><a href="quizes/<%= quizes[i].id %>/edit"><button>edit</button></a></td></tr>
>>>>>>> e9befd44e8da5af170d8f8936ba7f1e81ac312da
	<% } %>
</table>
<p/>
<a href="quizes/new"><button type="button">Crear pregunta</button></a>